node_modules
db_data
db
web/.eslintcache
node_modules
package-lock.json
yarn.lock
ranknrole-dev-2a0f40e969a1.json
letsencrypt_prod.yaml
letsencrypt_staging.yaml
**.log
**.tfvars
**.tfstate
.coverage
.vscode
backend.tf
.terraform
terraform.tfstate
.terraform.lock.hcl
terraform.tfstate.backup

# backend common #
db_data
ranknrole-dev-5d481f96aee4.json
__pycache__
.pytest_cache
.coverage
bert_base_model.h5
# => web <= #
.pnp
.pnp.js
.eslintcache
# env-config.js
# env-config.js

# testing
coverage
# production
build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*
RankNRole API Collection-2021-06-15-13-14-51-306-0.html

